*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    background: rgba(235, 189, 196, 0.855);
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top:5%;
    border-radius: 9px;
    
}
h1{
    text-align: center;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
input{
    padding: 0px 90px;
    margin: 15px 40px;
    background-color: rgba(238, 36, 106, 0.571);
    border: none;
}
select{
    padding: 0px 5px;
    margin: 0px 50px;
    margin-bottom: 35px;
    background-color: rgba(238, 36, 106, 0.571);
    border: none;

}